@inherits LayoutComponentBase

<MudThemeProvider Theme="currentTheme" />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar>
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="DrawerToggle" />
        Decorator Design Pattern
        <MudSpacer />
        <MudTooltip Text="Toggle Dark/Light Mode">
            <MudIconButton Icon="@icon" Edge="Edge.Start" OnClick="DarkMode" Color="Color.Inherit"/>
        </MudTooltip>
        <MudTooltip Text="C# Desgn Patterns GitHub">
            <MudIconButton Link="https://github.com/felipefabiani/CSharp-Design-Patterns" Target="_blank" Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit" />
        </MudTooltip>
        <MudTooltip Text="Felipe Fabiani LinkedIn">
            <MudIconButton Link="https://www.linkedin.com/in/felipe-a-fabiani/" Target="_blank" Icon="@Icons.Custom.Brands.LinkedIn" Color="Color.Inherit" />
        </MudTooltip>
    </MudAppBar>
    <MudDrawer @bind-Open="@drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2">
        <NavMenu />
    </MudDrawer>
    <MudMainContent>
        <CascadingValue Value="currentTheme">
            <div class="ma-5">
                @Body
            </div>
        </CascadingValue>
    </MudMainContent>
</MudLayout>

@code {
    bool drawerOpen = true;
    string icon = Icons.Material.Filled.Brightness4;
    MudTheme currentTheme = new();
    MudTheme defaultTheme = new()
        {
            Palette = new Palette
            {
                Black = "#272c34"
            }
        };
    MudTheme darkTheme = new()
        {
            Palette = new()
            {
                Black = "#27272f",
                Background = "#32333d",
                BackgroundGrey = "#27272f",
                Surface = "#373740",
                DrawerBackground = "#27272f",
                DrawerText = "rgba(255,255,255, 0.50)",
                DrawerIcon = "rgba(255,255,255, 0.50)",
                AppbarBackground = "#27272f",
                AppbarText = "rgba(255,255,255, 0.70)",
                TextPrimary = "rgba(255,255,255, 0.70)",
                TextSecondary = "rgba(255,255,255, 0.50)",
                ActionDefault = "#adadb1",
                ActionDisabled = "rgba(255,255,255, 0.26)",
                ActionDisabledBackground = "rgba(255,255,255, 0.12)",
                Divider = "rgba(255,255,255, 0.12)",
                DividerLight = "rgba(255,255,255, 0.06)",
                TableLines = "rgba(255,255,255, 0.12)",
                LinesDefault = "rgba(255,255,255, 0.12)",
                LinesInputs = "rgba(255,255,255, 0.3)",
                TextDisabled = "rgba(255,255,255, 0.2)"
            }
        };

    protected override void OnInitialized()
    {
        currentTheme = defaultTheme;
    }

    void DarkMode()
    {
        if (currentTheme == defaultTheme)
        {
            icon = Icons.Material.Filled.Brightness3;
            currentTheme = darkTheme;
        }
        else
        {
            icon = Icons.Material.Filled.Brightness5;
            currentTheme = defaultTheme;
        }
    }

    void DrawerToggle()
    {
        drawerOpen = !drawerOpen;
    }
}