<MudTable 
          Dense="@_dense"
          Hover="@_hover" Bordered="@_bordered"
          Striped="@_striped"
          
          SelectedItemChanged=@( async (MovieEntity value) => {
              _selectedItem1 = value;
              await OnMovieSelected.InvokeAsync(value);
          })
          Class="pa-2 ma-2"
          ServerData="@(new Func<TableState, Task<TableData<MovieEntity>>>(ServerReload))"
          @ref="_table">

    <ToolBarContent>
        <MudText Typo="Typo.h6">Movies</MudText>
        <MudSpacer />
        <MudTextField @bind-Value="_searchString1" Placeholder="Search"
                      Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search"
                      IconSize="Size.Medium" Class="mt-0"></MudTextField>
    </ToolBarContent>
    <HeaderContent>
        <MudTh>Id</MudTh>
        <MudTh>Name</MudTh>
        <MudTh>Release Date</MudTh>
        <MudTh>Genre</MudTh>
        <MudTh>MPAA</MudTh>
        <MudTh>Rating</MudTh>
        <MudTh>Director</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Id">@context.Id</MudTd>
        <MudTd DataLabel="Name">@context.Name</MudTd>
        <MudTd DataLabel="Release Date">@context.ReleaseDate.ToString("dd/MM/yyyy")</MudTd>
        <MudTd DataLabel="Genre">@context.Genre</MudTd>
        <MudTd DataLabel="MPAA">@context.MpaaRating.ToString()</MudTd>
        <MudTd DataLabel="Rating">@context.Rating</MudTd>
        <MudTd DataLabel="Director">@context.Director.Name</MudTd>
    </RowTemplate>
    <LoadingContent>
        <MudText>Loading...</MudText>
    </LoadingContent>
    <PagerContent>
        <MudTablePager PageSizeOptions="@(new int[]{2,5,10})" />
    </PagerContent>
</MudTable>
<div class="d-flex flex-wrap mt-4">
    <MudSwitch @bind-Checked="@_hover" Color="Color.Primary">Hover</MudSwitch>
    <MudSwitch @bind-Checked="@_dense" Color="Color.Primary">Dense</MudSwitch>
    <MudSwitch @bind-Checked="@_striped" Color="Color.Primary">Striped</MudSwitch>
    <MudSwitch @bind-Checked="@_bordered" Color="Color.Primary">Bordered</MudSwitch>
    <MudSpacer />
    <div style="min-width:200px;">
        <MudText Inline="true" Class="align-self-center">Selected: @_selectedItem1?.Name</MudText>
    </div>
</div>
